.env
.mariadbenv
.idea/*
/node_modules
/public/storage
data/certbot/conf/live
Homestead.json
Homestead.yaml
storage/database.sqlite
/vendor
customer_portal_dev.code-workspace
/.phpunit.cache

/.phpunit.cache
/nbproject/private/
